*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.bg{
    width: 100%;
    height: 150vh;
    background-color: white;
}
.bg .main{
    width: 60%;
    height: 450px;
    background-color: white;
    margin: auto;
}
.main .img{
    width: 100%;
    height: 50px;
    background-color:white;
}
.img .img2{
    width: 20%;
    height: 100%;
    background-color: white;
    margin: auto;
}
.main .main2{
    width: 100%;
    background-color: white;
    height: 800px;
    box-shadow: 0px 4px 0.5px 0px lightblue;
}
.main2 .Lbox{
    width: 45%;
    height: 380px;
    background-color: white;
    margin: auto;
}
.Lbox .LB{
    width: 100%;
    height: 290px;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    border: 0.5px solid rgb(198, 196, 193);
}
.LB input{
    width: 100%;
    padding: 7px;
    margin-bottom: 20px;
    outline: none;
}
.LB h3{
    padding-bottom: 20px;
    font-size: 25px;
    font-weight: 300;
}
.LB button{
    background-color: rgb(221, 144, 62);
    border: 0.5px solid rgb(50, 49, 49);
    border-radius: 3px;
}
.LB p{
    font-size: 12px;
    margin-bottom: 20px;
}
a{
    text-decoration: none;
}

.Lbox h6{
    padding: 10px;
    text-align: center;
    font-size: 14px;
    font-weight: 200;
}
.Lbox button{
    width: 100%;
    padding: 7px;
}
.bg .footer{
    width: 100%;
    height: 127px;
    background-color:white;
}
.footer .foot{
    width: 30%;
    height: 100px;
    margin: auto;
    background-color:transparent;
    padding: 10px 0 10px 0;
}
.foot a{
    text-decoration: none;
    font-size: 14px;
    padding: 15px;
}
.foot h5{
    text-align: center;
    font-weight: 200;
    padding-top: 10px;
}
@media screen and (max-width:800px){
    .bg .main{
        width: 100%;
    }
}
@media screen and (max-width:600px){
    .main2 .Lbox{
        width: 60%;
    }
    .footer .foot{
        width: 70%;
    }
}
@media screen and (max-width:450px){
    .main2 .Lbox{
        width: 80%;
    }
    .img .img2{
        width: 40%;
    }
    .footer .foot{
        width: 80%;
    }
    .LB p{
        font-size: 10px;
    }
}